body {
    height: 100%;
    margin: auto;
    transition: 0.3s;
}

#navMobile {
    padding-top: 15px;
    height: 12px;
    display: flex;
    justify-content: space-evenly;
}

header {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background: #4aaaa5;
    color: #ffffff;
    height: 107px;
    width: 100%;
    border: solid 1px #dddddd;
    transition: 0.3s;
    margin-bottom: 25px;
}

div {
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;   
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

.wrapper {
    position: relative;
    min-height: calc(100vh - 70px);
}

#main {
    background: #ffffff;
    border: solid 1px #dddddd;
    padding-top: 5px; 
    transition-duration: 0.3s;
}

.picture {
    width: 210px;
    float: left;
    padding: 10px;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.about {
    color: #4aaaa5;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-bottom: solid #777777 1px;
    transition-duration: 0.3s;
}


p {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.bio {
    color: #777777;
}

footer {
    background: #666666;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff; 
}

::-webkit-scrollbar-thumb {
    background: #666666; 
}

::-webkit-scrollbar-thumb:hover {
    background: #585858; 
}

@media (max-width: 980px) {
    
    .myname {
        position: static;
    }

}

@media (max-width: 640px) {

    header {
        width: 100%;
    }
        
    .myname {
        width: 100%;
    }
}

@media (max-width: 440px) {
    #myName {
        font-size: 1.4rem;
    }

    .about {
        font-size: 1.6rem;
    }
}